@font-face {
    font-family: roboto;
    src: url(Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

body {
    font-family: roboto;
    font-size: 15px;
}
h1 {
    margin-left: 40%;
    font-size: 40px;
    font-weight: 200;
}
#left {
    float: left;
    width: 60%;
    box-sizing: border-box;
}
#right {
    float: left;
    width: 39%;
    box-sizing: border-box;
}
.tab {
    width: 33%;
    float: left;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}
.active {
    background-color: #ccc;
}
.hidden {
    display: none;
}
#filter {
    margin-bottom: 10px;
}
.log {
    margin-bottom: 5px;
    height: 40px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color:white;
}
#delete {
    float: right;
    height: 30px;
}
.checkmark {
    color: wheat;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: -10px;
    float: left;
}
.func {
    height: 25px;
    width: 30px;
}
.floating {   
    animation-name: floating; 
    animation-duration: 2s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px; 
} 
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 5px); } 
    100%   { transform: translate(0, -0px); }     
} 
input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}
button {
    height: 40px;
    width: 100px;
}